*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.font-source-sans {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

/* common style */


.btn:hover {
  background-color: #eb2a03;}

/* heading style */
header{
    background-color: #ffffff;
    width: 1600px;
}
.logo{
    width:139px;
    height:60px;
    padding-top: 16px;
}
nav{
    height: 94px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}
.manu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    
}
.manu a{
    font-size: 16px;
    font-weight: 500;
    color:#000000;
    text-decoration: none;
    padding-top: 34px;
}

.btn-1{
    display:inline-flex ;
    text-align: center;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    margin: 24px 120px 24px 0;
    padding: 12px 16px;
}


.hero-section{
background-image: url("../assets/hero-bg.png");
background-size:cover;
height: 674px;
 background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content{
    margin: 0 auto;
    width: 1360px;
    height: 379px;
    gap: 32px;
    text-align: center;  
}
.badge{
display: inline-block;
  color: #469165;
  background: #ffffff;
  padding: 8px 12px 8px 34px;
  border-radius: 1000px;
  font-size: 16px;
  gap: 6px;
  margin-bottom: 20px
}
.hero-heading h1{
    font-size: 72px;
    width: 770px;
    color: #FFFFFF;
    margin: 0 auto;
}
.hero-heading h1 .green{
    color: #30B868;
}
.hero--info p{
    font-size: 18px;
    line-height:24px;
    font-weight: 400;
    color: #FFFFFF;
}
.hero-buttons{
    padding-top: 32px;
    gap: 10px;
    display: inline-flex;
}
.btn-2{  
    display:inline-flex ;
    text-align: center;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    border: 1px;
   
}
.btn-3{
    display:inline-flex ;
    text-align: center;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    background-color:transparent;
    border: 1px solid #FFFFFF;
    gap: 10px;
}

#note-section{
  background: #ffffff;
  padding: 36px 120px;
}

.note-container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}

.section-subtitle {
  font-size: 16px;
  color: #6b7280;
  max-width: 1360px;
  margin-bottom: 44px;
}
.cards {
  display:flex;
  gap: 16px;
  
}
.card {
  width: fill 322px;
  height: fixed 300px;
  background: #FFFFFF;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px #0000000F;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: #001931;
  margin-bottom: 16px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
}
.icon{
  width: 60px;
  height: 60px;
  margin:0 auto;
  background: #F95555;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:16px ;
}